# python basics

In [10]:
#arithmetic operations
a = 12
b = 2
print(a + b)
print(a*b)
print(a/b)

14
24
6.0

In [ ]:
#Lists are a versatile way of organizing your data in Python.
xList = [1, 2, 3, 4]
xList

In [8]:
# Concatenation
x = [1, 2, 3, 4];
y = [5, 6, 7, 8];

x + y

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
#A tuple is a collection of objects which ordered and immutable
tup1 = ('physics', 'chemistry', 1997, 2000);
tup1

('physics', 'chemistry', 1997, 2000)

In [ ]:
#Dictionaries are useful for storing and retrieving data as key-value pairs.
mw = {'CH4': 16.04, 'H2O': 18.02, 'O2':32.00, 'CO2': 44.01}
mw

In [1]:
#SORT LIST
A=['asf','hello','hai']
B=A.sort()
print(A)  
print(B)

['asf', 'hai', 'hello']
None

In [2]:
A=['python','cobra','ahm']
B=sorted(A)
print(A)  
print(B)

['python', 'cobra', 'ahm']
['ahm', 'cobra', 'python']

In [18]:
A=['ij','as','lo']
A.sort()
A

['as', 'ij', 'lo']

In [20]:
A=['as','fa','moon']
B=A
A[0]='ta'
A

['ta', 'fa', 'moon']

In [3]:
#INDEXING IN LIST
A=['suda','rshan','moon']
A[0]='ta'
A

['ta', 'rshan', 'moon']

In [32]:
#TYPE CASTING
input_tuple=('Monty Python', 'British', 1969)
list(input_tuple)
tuple_2=list(input_tuple)
tuple3=tuple_2+['python']
tuple3

['Monty Python', 'British', 1969, 'python']

In [7]:
input='heartless by weekend'
week=input.split(" ")[1]
end=input.split(" ")[0]
print(week)
print(end)

by
heartless

In [5]:
into ="Pythons syntax is easy to learn, Pythons syntax is very clear"
outi= into.split(',')
outi

['Pythons syntax is easy to learn', ' Pythons syntax is very clear']

In [26]:
inh={"yo",1,2,"yo"}
inh

{1, 2, 'yo'}

In [4]:
len('inh')

3

In [4]:
inh={"yo",1,2,"yo"}
inh.add("triumph")
print(inh)

{1, 2, 'triumph', 'yo'}

In [6]:
inh={"yo",1,2,"yo"}
inh.remove(1)
inh

{2, 'yo'}

In [30]:
a={0,1,2,4,6,8}
b={0,3,4,7,8,9}
print(a|b)#union
print(a&b)#interation
print(a-b)#difference
print(a^b)#symetric difference

{0, 1, 2, 3, 4, 6, 7, 8, 9}
{0, 8, 4}
{1, 2, 6}
{1, 2, 3, 6, 7, 9}

In [33]:

processed_orders = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]

returned_orders = [1153, 1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173, 1174, 1175, 1177, 1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071, 1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086, 1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122, 1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135, 1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151]

[1152, 1154, 1155, 1156]

In [41]:
x = 10
if x % 2 == 0:
     print(x,"is even number")
else:
     print(x,"is odd number")

10 is even number

In [7]:
x=int(input("enter the number: "))
if x <= 1000 or x >= 1100:
    print('No')
else:
    print('Yes')

enter the number: 09
No

In [12]:
x=int(input("enter your age: "))
if x <= 18 or x >= 60:
    print("welcome")
else:
    print("get out right now!")

enter your age: 50
get out right now!

In [1]:
total= 4000
if total <=5000:
    print("discount 20%")
elif total >=5000:
    print("discount 30%")
elif total <=1000:
    print("discount 10%")
else:
    print("no discount")

discount 20%

In [ ]:
X = 12

if (X>10 & X<15):
print('YES')
else:
print('No')

In [4]:
d= "alpha"
if d[0] in ['a','e','i','o','u','A','E','I','O','U']:
    print('YES')
else:
    print('NO')

YES

In [5]:
str= ("humpty")
for hu in str:
    print(hu)

h
u
m
p
t
y

In [1]:
str= ("humpty")
for g in str:
    print(g, end= '$')

h$u$m$p$t$y$

In [4]:
range(1,100)
for i in range(1,100):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [5]:
for i in range(1,100,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [8]:
for n in range(1,20):
    flag = True
    for i in range(2,n):
        if n % i == 0:
            flag = False
            break
if flag :
    print(n)

19